<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
            <taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
            <taglib-location>/WEB-INF/tld/x.tld</taglib-location>
        </taglib>
    </jsp-config>
    <!--首页的第一页显示-->
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>hxm.servlet.index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <!--爬虫数据展示-->
    <servlet>
        <servlet-name>pa</servlet-name>
        <servlet-class>hxm.servlet.pa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pa</servlet-name>
        <url-pattern>/pa.jsp</url-pattern>
    </servlet-mapping>
    <!--处理文章的页面-->
    <servlet>
        <servlet-name>template</servlet-name>
        <servlet-class>hxm.servlet.template</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>template</servlet-name>
        <url-pattern>/template</url-pattern>
    </servlet-mapping>
    <!--处理爬虫文章的页面-->
    <servlet>
        <servlet-name>pa_template</servlet-name>
        <servlet-class>hxm.servlet.pa_template</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pa_template</servlet-name>
        <url-pattern>/pa_template</url-pattern>
    </servlet-mapping>
    <!--插入文章的页面-->
    <servlet>
        <servlet-name>Insert_sql</servlet-name>
        <servlet-class>hxm.upload.Insert_sql</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Insert_sql</servlet-name>
        <url-pattern>/Insert_sql.jsp</url-pattern>
    </servlet-mapping>
    <!--翻页的数据-->
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>hxm.servlet.Page</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/Page.jsp</url-pattern>
    </servlet-mapping>
    <!--爬虫翻页的数据-->
    <servlet>
        <servlet-name>pa_Page</servlet-name>
        <servlet-class>hxm.servlet.pa_Page</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pa_Page</servlet-name>
        <url-pattern>/pa_Page.jsp</url-pattern>
    </servlet-mapping>
    <!--//发邮件处理-->
    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>hxm.servlet.mail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/mail.php</url-pattern>
    </servlet-mapping>
    <!--//删除处理-->
    <!--//发邮件处理-->
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>hxm.servlet.delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/admin/tables.jsp</url-pattern>
    </servlet-mapping>
    <!--爬虫删除-->
    <servlet>
        <servlet-name>pa_delete</servlet-name>
        <servlet-class>hxm.servlet.pa_delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pa_delete</servlet-name>
        <url-pattern>/admin/pa_tables.jsp</url-pattern>
    </servlet-mapping>
    <!--爬虫采集-->
    <servlet>
        <servlet-name>Pa_cj</servlet-name>
        <servlet-class>hxm.servlet.Pa_cj</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pa_cj</servlet-name>
        <url-pattern>/admin/cj.jsp</url-pattern>
    </servlet-mapping>
    <!--//安装数据库-->
    <servlet>
        <servlet-name>install</servlet-name>
        <servlet-class>hxm.servlet.install</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>install</servlet-name>
        <url-pattern>/install</url-pattern>
    </servlet-mapping>
    <!--//后台验证过滤器-->
    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>hxm.servlet.adminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/admin/index.jsp</url-pattern>
        <url-pattern>/admin/table.jsp</url-pattern>
        <url-pattern>/admin/tables.jsp</url-pattern>
        <url-pattern>/admin/pa_table.jsp</url-pattern>
        <url-pattern>/admin/pa_tables.jsp</url-pattern>
        <url-pattern>/admin/cj.jsp</url-pattern>
        <url-pattern>/install</url-pattern>
    </filter-mapping>
    <!--后台登录成功后生成session-->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>hxm.servlet.login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/admin/login.s</url-pattern>
    </servlet-mapping>
    <!--微信配置-->
    <servlet>
        <servlet-name>WeixinServlet</servlet-name>
        <servlet-class>hxm.Wx.servlet.WeixinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WeixinServlet</servlet-name>
        <url-pattern>/wx</url-pattern>
    </servlet-mapping>
    <!--NFDFlightDataTaskListener 监听器-->
    <listener>
        <listener-class>hxm.time.MyListener</listener-class>
    </listener>
</web-app>
